/*  Name     : Dinesh Saini    
    Created on : Nov 25, 2013    
    Purpose : To stylesheet Login Page
*/
body{font-family: verdana,serif; margin-top: 0px; color: #484848;}
body {
    font-family: verdana,serif;
    font-size: 12px; color:#484848;    
    min-width: 900px;
}

#formBody{
    height: 350px;
    width: 650px;
    border: 3px #ccccff solid;    
    margin: 120px auto;
    font-weight: 900;
    background-color: steelblue;
    color: #fff;
}

#form{
    position: relative;
    top: 60px;
    left: 200px;
}
