
/* 
    Name : Dinesh Saini
    Date : 09/12/2013
    Purpose : CSS file for user Information page
*/

#contentWrapper a{
    text-decoration: none;
    color: #507AAA;
}
#contentWrapper a:hover{
    text-decoration: underline;
}